@using AncientCivilizations.Web.Models.Public
@model IEnumerable<PicturesViewModel>

<div id="gallery-header" class="row">
    <h2 class="col-md-6">
        Latest Images
    </h2>
        @Html.TextBox("tb-search", "Search", new { @class = "col-md-4 pull-right" })
</div>

<div id="gallery-container">
    @foreach (var item in Model)
    {
        <div class="pictures-container">
            <a href="@Url.Action("DetailedView", "Pictures", new { id = @item.Id, area = Areas.Default })">
                <img class="gallery-picture" src="@Url.Content("~/Content/Pictures/" + @item.Url)" />
            </a>
        </div>
    }
</div>