@model AncientCivilizations.Web.Models.Contribution.ContributeArticleViewModel

@Html.HiddenFor(m => m.HeaderImagePath, new { id = "article-header-image-path" })

<div>
    @(Html.Kendo().Window()
                  .Name("select-image")
                  .Title("Select Picture")
                  .Scrollable(true)
                  .Draggable()
                  .Events(ev => ev.Close("onClose"))
                  .Visible(false).Width(800).Height(600)
    )
</div>
<div>
    <div class="col-md-8 nopadding">
        @Html.EditorFor(m => m.Content)
    </div>
    <div class="col-md-4">
        @Html.EditorFor(m => m.Title)

        @Html.EditorFor(m => m.LocationId)

        @Html.EditorFor(m => m.CivilizationId)

        @Html.EditorFor(m => m.CategoryId)

        <div id="contribute-article-content-search-panel">
            <input type="text" id="tb-search" class="col-md-8" placeholder="Search for picture to add" />
            <div id="btn-search" class="btn btn-default pull-right col-md-3">
                Search
            </div>
        </div>
    </div>
</div>

<script>
    function onClose() {
        $("#btn-search").show();
    }

    $(document).ready(function () {
        $("#btn-search").bind("click", function () {
            var searchQuery = $("#tb-search").val();
            var dialog = $("#select-image").data("kendoWindow");
            dialog.refresh({
                url: '@Url.Action("GetPictures", "Articles", new { area = Areas.Contribution })',
                data: { query: searchQuery }
            }).open();
            $("#undo").hide();
        });
    });
</script>