@model AncientCivilizations.Web.Models.Public.Articles.AllArticlesViewModel

@using AncientCivilizations.Web.Models.Public;
@using PagedList.Mvc;

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <p>
                @Html.TextBox("searchString", @Model.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
    </div>

    <div class="col-md-4">
        @if (@Model.CurrentOrder == "Name")
        {
            @Html.ActionLink("Order by Date", "All", new { orderBy = "Date", currentFilter = @Model.CurrentFilter, civilizationFilter = @Model.CivilizationFilter }, new { @class = "btn btn-navigation" })
        }
        else
        {
            @Html.ActionLink("Order by Name", "All", new { orderBy = "Name", currentFilter = @Model.CurrentFilter, civilizationFilter = @Model.CivilizationFilter }, new { @class = "btn btn-navigation" })
        }
    </div>

    <div class="col-md-4">
        <div class="dropdown">
            <a class="btn btn-navigation dropdown-toggle" data-toggle="dropdown">
                @if (@Model.CivilizationFilter == null || @Model.CivilizationFilter == "All")
                {
                    @:All Civilizations
                }
                else
                {
                    @Model.Civilizations.FirstOrDefault(c => c.Value == @Model.CivilizationFilter).Text
                }
                <span class="glyphicon glyphicon-chevron-down dropdown-gliph"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("All Civilizations", "All", new { civilizationFilter = "All", orderBy = @Model.CurrentOrder, currentFilter = @Model.CurrentFilter })
                </li>

                @foreach (var item in @Model.Civilizations)
                {
                    <li>
                        @Html.ActionLink(@item.Text, "All", new { civilizationFilter = @item.Value, orderBy = @Model.CurrentOrder, currentFilter = @Model.CurrentFilter })
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div id="all-articles-container" class="col-md-12">
    @Html.Partial("_ArticlesPreviewPartial", @Model.Articles)
</div>

@Html.PagedListPager((PagedList.PagedList<ArticleViewModel>)@Model.Articles, page => Url.Action("All",
    new { page, orderBy = @Model.CurrentOrder, currentFilter = @Model.CurrentFilter, civilizationFilter = @Model.CivilizationFilter }))
