@model AncientCivilizations.Web.Models.Public.Articles.AllArticlesViewModel

@using AncientCivilizations.Web.Models.Public;
@using PagedList.Mvc;

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchString", @Model.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

@if (@Model.CurrentOrder == "Name")
{
    @Html.ActionLink("Order by Date", "All", new { orderBy = "Date", currentFilter = @Model.CurrentFilter, civilizationFilter = @Model.CivilizationFilter })
}
else
{
    @Html.ActionLink("Order by Name", "All", new { orderBy = "Name", currentFilter = @Model.CurrentFilter, civilizationFilter = @Model.CivilizationFilter })
}

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        @if (@Model.CivilizationFilter == null || @Model.CivilizationFilter == "All")
        {
            @:All Civilizations
        }
        else
        {
            @Model.Civilizations.FirstOrDefault(c => c.Value == @Model.CivilizationFilter).Text
        }
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @Html.ActionLink("All Civilizations", "All", new { civilizationFilter = "All", orderBy = @Model.CurrentOrder, currentFilter = @Model.CurrentFilter })

        @foreach (var item in @Model.Civilizations)
        {
            <li>
                @Html.ActionLink(@item.Text, "All", new { civilizationFilter = @item.Value, orderBy = @Model.CurrentOrder, currentFilter = @Model.CurrentFilter })                
            </li>
        }
    </ul>
</div>

<div id="all-articles-container" class="col-md-12">
    @Html.Partial("_ArticlesPreviewPartial", @Model.Articles)
</div>

@Html.PagedListPager((PagedList.PagedList<ArticleViewModel>)@Model.Articles, page => Url.Action("All",
    new { page, orderBy = @Model.CurrentOrder, currentFilter = @Model.CurrentFilter, civilizationFilter = @Model.CivilizationFilter }))
