@model AncientCivilizations.Web.Models.Public.DetailedArticleViewModel

<h1 class="border-bottom">
    @Model.Title
</h1>
<div class="col-md-8">
    <div class="detailed-article-author-image">
        @Html.DisplayFor(m => @Model, "ArticleCreatorAndDate")
    </div>
    <div class="article-content">
        @Html.Raw(Model.Content)
    </div>
    <div class="detailed-article-author">
        <h3>About The Author</h3>
        <div class="detailed-article-author-summary">
            <div class="col-md-2 nopadding">
                @Html.DisplayFor(m => m.CreatorAvatar, "CreatorImage")
            </div>
            <div class="col-md-10 nopadding">
                @Html.ActionLink(@Model.CreatorName, Actions.Index, "UserProfile", new { id = Model.CreatorId }, new { @class = "detailed-article-author-name" })
                <div class="detailed-article-author-summary-text">
                    @Model.CreatorSummary
                </div>
            </div>
        </div>
    </div>
</div>

@section rightPanel{
    <div class="col-md-4">
        <h3>Similar Articles</h3>
        <div class="sidebar-container">
            @foreach (var item in @Model.FiveSimilarArticles)
            {
                <div class="content-item">
                    <div class="row content-item-header">
                        <div class="col-md-4">
                            <img class="content-item-header-img" src="~/Content/Pictures/@item.HeaderImagePath" />
                        </div>
                        <h4 class="text-center col-md-8">
                            @Html.ActionLink(item.Title, "Detailed", Controllers.Articles, new { id = item.Id, area = Areas.Default }, null)
                        </h4>
                    </div>
                    <div class="row content-item-text">
                        <div class="sidebar-article-content">@Html.Raw(item.Content)</div>
                    </div>
                    @Html.ActionLink("read more...", "Detailed", Controllers.Articles, new { id = item.Id, area = Areas.Default }, new { @class = "a-more" })
                </div>
            }
        </div>
    </div>
}

