@model IEnumerable<AncientCivilizations.Web.Models.Public.CivilizationViewModel>

<div class="map-container">
    <img class="map" src="/Content/Pictures/Site/world.jpg" />
    <div class="map-points">
        @foreach (var item in Model)
        {
            <div data-civ="@item.Name" class="my-tooltip my-tooltip-effect-1 map-point">
                <div class="my-tooltip-item"></div>
                <span class="my-tooltip-content clearfix">
                    <img src="~/Content/Pictures/Site/@(item.Name).jpg" />
                    <span class="my-tooltip-header">@item.Name</span>
                    <span class="my-tooltip-text">
                        <span>@item.Description</span>
                        @Html.ActionLink("browse articles", "All", new { civilizationFilter = @item.Id.ToString() }, new { @class = "map-point a-more" })
                    </span>
                </span>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('*[data-civ="Maya"]').css({top: 46 +"%", left: 22 + "%"});
        $('*[data-civ="Ancient Egypt"]').css({ top: 42 + "%", left: 54 + "%" });
        $('*[data-civ="Inca"]').css({ top: 59 + "%", left: 27 + "%" });
        $('*[data-civ="Ancient Rome"]').css({ top: 28 + "%", left: 50 + "%" });
        $('*[data-civ="Ancient Greece"]').css({ top: 31 + "%", left: 53 + "%" });
        $('*[data-civ="Sumer"]').css({ top: 36 + "%", left: 61 + "%" });
        $('*[data-civ="Aztec"]').css({ top: 43 + "%", left: 17 + "%" });
        $('*[data-civ="Celtic"]').css({ top: 22 + "%", left: 50 + "%" });
        $('*[data-civ="Olmec"]').css({ top: 44 + "%", left: 20 + "%" });
        $('*[data-civ="Ancient China"]').css({ top: 38 + "%", left: 76 + "%" });
        $('*[data-civ="Other"]').hide();
    });
</script>


