<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancient Civilizations</title>
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/custom")
</head>
<body>
    <header>
        <div class="text-center">
            <a href='@Url.Action(Actions.Index, Controllers.Home, new { area = Areas.Default })'>
                <img id="logo-main" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32877/logo-thing.png" width="200" alt="Logo Thing main logo">
            </a>
        </div>

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", Actions.Index, Controllers.Home, new { area = Areas.Default }, null)</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                Explore <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Pictures", "All", Controllers.Pictures, new { area = Areas.Default }, new { @class = "text-center" })</li>
                                <li>@Html.ActionLink("Articles", "All", Controllers.Articles, new { area = Areas.Default }, new { @class = "text-center" })</li>
                                <li>@Html.ActionLink("Map", "ExploreMap", Controllers.Articles, new { area = Areas.Default }, new { @class = "text-center" })</li>
                            </ul>
                        </li>
                        @if (User.IsInRole("User") || User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Contribute", Actions.Index, Controllers.Home, new { area = Areas.Contribution }, null)</li>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Administration", Actions.Index, Controllers.Home, new { area = Areas.Administration }, null)</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </header><!-- header role="banner" -->

    @*<img src="/Content/Pictures/Separator.jpg" alt="Alternate Text" />*@

    <div class="container body-content">
        @RenderSection("leftPanel", required: false)
        @RenderBody()
        @RenderSection("rightPanel", required: false)
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)
</body>
</html>
