<h2>User Administrations</h2>
@Html.ActionLink("Edit Users", Actions.Index, Controllers.Users, new { area = Areas.Administration }, null)

<h2>Content Administrations</h2>
@Html.ActionLink("Edit Categories", Actions.Index, Controllers.Categories, new { area = Areas.Administration }, null)
@Html.ActionLink("Edit Articles", Actions.Index, Controllers.Articles, new { area = Areas.Administration }, null)
@Html.ActionLink("Edit Civilizations", Actions.Index, Controllers.Civilizations, new { area = Areas.Administration }, null)
@Html.ActionLink("Edit Locations", Actions.Index, Controllers.Locations, new { area = Areas.Administration }, null)