@model AncientCivilizations.Web.Models.Contribution.ContributePictureViewModel

<div>
    <h2 class="border-bottom">Submit Picture</h2>
</div>

<div>
    @using (Html.BeginForm("Add", Controllers.Pictures, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(m => m.Title)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Title, new { @class = "tb-title"})
            @Html.ValidationMessageFor(m => m.Title)
        </div>

            <div>
                @Html.LabelFor(m => m.Description)
            </div>
            <div>
                @Html.TextAreaFor(m => m.Description, new { rows = "6", cols = "80", @class = "ta-description" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div>
                @Html.LabelFor(m => m.KeyWords)
            </div>
            <div>
                @Html.TextBoxFor(m => m.KeyWords, new { @class = "tb-keywords" })
            </div>

            <div>
                @Html.LabelFor(m => m.CategoryId)
            </div>
            <div>
                @(Html.Kendo().DropDownListFor(m => m.CategoryId)
                              .HtmlAttributes(new { @class = "dd-categories"})
                              .OptionLabel("Select category...")
                              .DataTextField("Name")
                              .DataValueField("Id")
                              .DataSource(source =>
                              {
                                  source.Read(read =>
                                  {
                                      read.Action("GetCategories", Controllers.Pictures);
                                  });
                              })
                )
                @Html.ValidationMessageFor(m => m.CategoryId)
            </div>

            <div>
                <h4>
                    Please upload the image.
                </h4>
                <div class="col-md-6 nopadding">
                    @(Html.Kendo().Upload()
                    .Name("images"))
                </div>
            </div>
            <div class="placeholder">

            </div>
            <div class="navbar-fixed-bottom bottom-bar">
                <input type="submit" value="SUBMIT" class="btn text-center btn-bottom-bar">
            </div>
    }
</div>
